In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
df = pd.read_csv("myb.csv", sep=";", decimal=",", encoding="latin-1")
renta = pd.read_csv("renta.csv", sep=";", decimal=",", encoding="latin-1")

In [14]:
def eda(df):
    print(f'Info columnas')
    print(df.info())
    print(f'Info forma')
    print(f'Info valores random')
    print(df.sample())
    for col in df.columns:
        print(col)
        print(df[col].unique())

In [31]:
df.sample(5)

        Sexo      Provincias                           Tasas Periodo  Total
170  Mujeres       09 Burgos  Tasa de empleo de la población  2023T2  46.55
183  Mujeres       28 Madrid    Tasa de paro de la población  2024T3  10.31
118  Mujeres  Total Nacional    Tasa de paro de la población  2022T4  14.74
169  Mujeres       09 Burgos  Tasa de empleo de la población  2023T3  49.20
114  Mujeres  Total Nacional    Tasa de paro de la población  2023T4  13.33

In [25]:
renmun = pd.read_csv('rentaxcomunidad.csv', sep=";", decimal=",", encoding="latin-1")

In [28]:
renmun.sample(4)

,Comunidades y Ciudades Autónomas,Renta anual neta media por hogar,Periodo,Total
29,08 Castilla - La Mancha,Renta neta media por hogar,2022,27.864
75,19 Melilla,Renta neta media por hogar,2020,37.138
68,18 Ceuta,Renta neta media por hogar,2023,40.621
58,"15 Navarra, Comunidad Foral de",Renta neta media por hogar,2021,38.086

In [22]:
renmun[maslaranda]

Empty DataFrame
Columns: [Distritos, Secciones, Indicadores de renta media y mediana, Periodo, Total]
Index: []